<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Curling team Pingvini official website.">
    <meta name="author" content="Lan Zagar, Tomaz Toplak">

    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/pic/icon.32.png" />

    <title>{{ page.title }} - Pingvini</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this site -->
    <link href="{{ site.baseurl }}/assets/css/penguin.css" rel="stylesheet">
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar-fixed-top container-nav">
      {% include navbar.html %}
    </div>
